In [1]:
import pandas as pd   
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\bisht\Downloads\raw.githubusercontent.com_anunda-nyagami_webscraping-imdb-video-game-details_main_data_imdb_video_game_rating.csv")

In [3]:
df

,Unnamed: 0,title,year,genre,rating,votes,directors,plot
0,0,The Last of Us: Part I,2022,"Action, Adventure, Drama",9.8,601,"Matthew Gallant, Bruce Straley",Experience the emotional storytelling and unfo...
1,1,Red Dead Redemption II,2018,"Action, Adventure, Crime",9.7,"36,441",Missing,Amidst the decline of the Wild West at the tur...
2,2,The Witcher 3: Wild Hunt - Blood and Wine,2016,"Action, Adventure, Drama",9.7,"7,610",Konrad Tomaszkiewicz,Geralt is in the southern province of Toussain...
3,3,The Witcher 3: Wild Hunt,2015,"Action, Adventure, Drama",9.7,"26,328",Konrad Tomaszkiewicz,A monster hunter for hire embarks on an epic j...
4,4,The Last of Us,2013,"Action, Adventure, Drama",9.7,"61,103","Neil Druckmann, Bruce Straley","In a hostile, post-pandemic world, Joel and El..."
...,...,...,...,...,...,...,...,...
12630,12633,Superman,1999,"Action, Adventure, Family",1.4,646,Missing,The first 3D Superman game. Your friends Lois ...
12631,12634,Action 52,1991,"Action, Family, Fantasy",1.3,135,"Raul Gomila, Vince Perri",Play the action at your fingertips with 52 gam...
12632,12635,Plumbers Don't Wear Ties,1994,"Comedy, Romance",1.3,338,Michael Anderson,"John, an unattached plumber, meets and falls i..."
12633,12636,Animal Soccer World,2005,"Animation, Sport",1.2,125,Roswitha Haas,Everybody is busy with the preparations for th...
12634,12637,CrazyBus,2004,"Adventure, Family",1.0,126,Tom Maneiro,You get to select your bus and drive it across...

In [4]:
df.columns

Index(['Unnamed: 0', 'title', 'year', 'genre', 'rating', 'votes', 'directors',
       'plot'],
      dtype='object')

In [5]:
df=df.iloc[:,1:]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12635 entries, 0 to 12634
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      12635 non-null  object
 1   year       12635 non-null  object
 2   genre      12635 non-null  object
 3   rating     12635 non-null  float64
 4   votes      12635 non-null  object
 5   directors  12635 non-null  object
 6   plot       12635 non-null  object
dtypes: float64(1), object(6)
memory usage: 691.1+ KB

In [7]:
del df['directors']
del df['year']

In [8]:
df

,title,genre,rating,votes,plot
0,The Last of Us: Part I,"Action, Adventure, Drama",9.8,601,Experience the emotional storytelling and unfo...
1,Red Dead Redemption II,"Action, Adventure, Crime",9.7,"36,441",Amidst the decline of the Wild West at the tur...
2,The Witcher 3: Wild Hunt - Blood and Wine,"Action, Adventure, Drama",9.7,"7,610",Geralt is in the southern province of Toussain...
3,The Witcher 3: Wild Hunt,"Action, Adventure, Drama",9.7,"26,328",A monster hunter for hire embarks on an epic j...
4,The Last of Us,"Action, Adventure, Drama",9.7,"61,103","In a hostile, post-pandemic world, Joel and El..."
...,...,...,...,...,...
12630,Superman,"Action, Adventure, Family",1.4,646,The first 3D Superman game. Your friends Lois ...
12631,Action 52,"Action, Family, Fantasy",1.3,135,Play the action at your fingertips with 52 gam...
12632,Plumbers Don't Wear Ties,"Comedy, Romance",1.3,338,"John, an unattached plumber, meets and falls i..."
12633,Animal Soccer World,"Animation, Sport",1.2,125,Everybody is busy with the preparations for th...
12634,CrazyBus,"Adventure, Family",1.0,126,You get to select your bus and drive it across...

In [9]:
df['tags'] = df['genre'].astype(str) + ',' + df['rating'].astype(str) + ',' + df['plot']
df

,title,genre,rating,votes,plot,tags
0,The Last of Us: Part I,"Action, Adventure, Drama",9.8,601,Experience the emotional storytelling and unfo...,"Action, Adventure, Drama,9.8,Experience the em..."
1,Red Dead Redemption II,"Action, Adventure, Crime",9.7,"36,441",Amidst the decline of the Wild West at the tur...,"Action, Adventure, Crime,9.7,Amidst the declin..."
2,The Witcher 3: Wild Hunt - Blood and Wine,"Action, Adventure, Drama",9.7,"7,610",Geralt is in the southern province of Toussain...,"Action, Adventure, Drama,9.7,Geralt is in the ..."
3,The Witcher 3: Wild Hunt,"Action, Adventure, Drama",9.7,"26,328",A monster hunter for hire embarks on an epic j...,"Action, Adventure, Drama,9.7,A monster hunter ..."
4,The Last of Us,"Action, Adventure, Drama",9.7,"61,103","In a hostile, post-pandemic world, Joel and El...","Action, Adventure, Drama,9.7,In a hostile, pos..."
...,...,...,...,...,...,...
12630,Superman,"Action, Adventure, Family",1.4,646,The first 3D Superman game. Your friends Lois ...,"Action, Adventure, Family,1.4,The first 3D Sup..."
12631,Action 52,"Action, Family, Fantasy",1.3,135,Play the action at your fingertips with 52 gam...,"Action, Family, Fantasy,1.3,Play the action at..."
12632,Plumbers Don't Wear Ties,"Comedy, Romance",1.3,338,"John, an unattached plumber, meets and falls i...","Comedy, Romance,1.3,John, an unattached plumbe..."
12633,Animal Soccer World,"Animation, Sport",1.2,125,Everybody is busy with the preparations for th...,"Animation, Sport,1.2,Everybody is busy with th..."
12634,CrazyBus,"Adventure, Family",1.0,126,You get to select your bus and drive it across...,"Adventure, Family,1.0,You get to select your b..."

In [10]:
df=df.iloc[:,[0,-1]]
df.iloc[0]

title                               The Last of Us: Part I
tags     Action, Adventure, Drama,9.8,Experience the em...
Name: 0, dtype: object

In [11]:
import nltk

In [12]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [13]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [14]:
ps.stem('cricketer')

'cricket'

In [15]:
df['tags'].apply(stem)

0        action, adventure, drama,9.8,experi the emot s...
1        action, adventure, crime,9.7,amidst the declin...
2        action, adventure, drama,9.7,geralt is in the ...
3        action, adventure, drama,9.7,a monster hunter ...
4        action, adventure, drama,9.7,in a hostile, pos...
                               ...
12630    action, adventure, family,1.4,th first 3d supe...
12631    action, family, fantasy,1.3,play the action at...
12632    comedy, romance,1.3,john, an unattach plumber,...
12633    animation, sport,1.2,everybodi is busi with th...
12634    adventure, family,1.0,y get to select your bu ...
Name: tags, Length: 12635, dtype: object

In [17]:
from nltk.corpus import stopwords
from string import punctuation

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=13000,stop_words='english')

In [19]:
vector =cv.fit_transform(df['tags']).toarray()

In [23]:
cv.get_feature_names_out()

array(['000', '007', '0079', ..., 'zula', 'zx', 'état'], dtype=object)

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
similarity=cosine_similarity(vector)
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(6291, 0.42874646285627205),
 (9338, 0.42874646285627205),
 (11510, 0.38348249442368526),
 (2443, 0.37573457465108967),
 (12575, 0.37573457465108967)]

In [26]:
def recommender(game):
    game_index=df[df['title']==game].index[0]
    distance=similarity[game_index]
    game_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in game_list:
        print(df.iloc[i[0]].title)

In [28]:
recommender('The Witcher 3: Wild Hunt')

Eternal Sonata
Torchlight 2
Brothers: A Tale of Two Sons
Metal Gear Solid V: The Definitive Experience
Steambot Chronicles